.button {
	-fx-background-color: #1ec6cf;
	-fx-border-radius: 3px;
	-fx-font-color: #000000;
	-fx-font-weight: bold;
	-fx-font-size: 14px;
}

.button:hover {
	-fx-background-color: #0349a8;
}

#button-fridge {
	-fx-background-color: transparent;
	-fx-border: 1px;
	-fx-border-color: #000000;
	-fx-font-color: #000000;
	-fx-font-weight: bold;
	-fx-font-size: 14px;
}

#button-fridge:hover {
	-fx-background-color: #1ec6cf;
}

#button-budget {
	-fx-background-color: transparent;
	-fx-border: 1px;
	-fx-border-color: #000000;
	-fx-font-color: #000000;
	-fx-font-weight: bold;
	-fx-font-size: 14px;
}

#button-budget:hover {
	-fx-background-color: #1ec6cf;
}

#button-add-product-edit-budget {
	-fx-background-color: transparent;
	-fx-border: 1px;
	-fx-border-color: #000000;
	-fx-font-color: #000000;
	-fx-font-weight: bold;
	-fx-font-size: 14px;
}

#button-add-product-edit-budget:hover {
	-fx-background-color: #1ec6cf;
}

.product-edit-button {
	-fx-background-color: #ffffff;
	-fx-border-color: #000000;
	-fx-border-width: 1px;
	-fx-padding: 2px 10px 2px 10px;
	-fx-background-image: url("edit-icon.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: 20 20;
	-fx-background-position: center;
}

.product-edit-button:hover {
	-fx-background-color: #1ec6cf;
}

.product-put-to-used-button {
	-fx-background-color: #ffffff;
	-fx-border-color: #000000;
	-fx-border-width: 1px;
	-fx-padding: 2px 10px 2px 10px;
	-fx-background-image: url("put-to-used-icon.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: 20 20;
	-fx-background-position: center;
}

.product-put-to-used-button:hover {
	-fx-background-color: #1ec6cf;
}

.product-put-to-waste-button {
	-fx-background-color: #ffffff;
	-fx-border-color: #000000;
	-fx-border-width: 1px;
	-fx-padding: 2px 10px 2px 10px;
	-fx-background-image: url("delete-icon.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: 20 20;
	-fx-background-position: center;
}

.product-put-to-waste-button:hover {
	-fx-background-color: #1ec6cf;
}

/*
 * category icons
 */
.baked-goods {
	-fx-image: url("category-icon-baked-goods-40.png");
}

.bread {
	-fx-image: url("category-icon-bread-40.png");
}

.candy {
	-fx-image: url("category-icon-candy-40.png");
}

.canned-goods {
	-fx-image: url("category-icon-canned-goods-40.png");
}

.condiments {
	-fx-image: url("category-icon-condiments-40.png");
}

.dairy {
	-fx-image: url("category-icon-dairy-40.png");
}

.eggs {
	-fx-image: url("category-icon-eggs-40.png");
}

.fats-and-oils {
	-fx-image: url("category-icon-fats-and-oils-40.png");
}

.fish {
	-fx-image: url("category-icon-fish-40.png");
}

.fruits-and-berries {
	-fx-image: url("category-icon-fruits-and-berries-40.png");
}

.juice {
	-fx-image: url("category-icon-juice-40.png");
}

.meat {
	-fx-image: url("category-icon-meat-40.png");
}

.nuts-and-seeds {
	-fx-image: url("category-icon-nuts-and-seeds-40.png");
}

.other-drinks {
	-fx-image: url("category-icon-other-drinks-40.png");
}

.other-food {
	-fx-image: url("category-icon-other-food-40.png");
}

.plant-based-dairy-alternatives {
	-fx-image: url("category-icon-plant-based-dairy-alternatives-40.png");
}

.plant-based-protein {
	-fx-image: url("category-icon-plant-based-protein-40.png");
}

.poultry {
	-fx-image: url("category-icon-poultry-40.png");
}

.rice-and-pasta {
	-fx-image: url("category-icon-rice-and-pasta-40.png");
}

.shellfish {
	-fx-image: url("category-icon-shellfish-40.png");
}

.soft-drinks {
	-fx-image: url("category-icon-soft-drinks-40.png");
}

.sugars-and-honey {
	-fx-image: url("category-icon-sugars-and-honey-40.png");
}

.vegetables {
	-fx-image: url("category-icon-vegetables-40.png");
}

/*
 * status icons
 */
.good-to-go {
	-fx-image: url("status-good-to-go-icon.png");
}

.soon-to-expire {
	-fx-image: url("status-soon-to-expire-icon.png");
}

.expired {
	-fx-image: url("status-expired-icon.png");
}

#product-save-delete-used-waste-buttons, #budget-save-delete-buttons {
	-fx-font-size: 12px;
}

#product-save-delete-used-waste-buttons:hover, #budget-save-delete-buttons:hover {
	-fx-font-size: 12px;
}

#left-anchorpane-starting-gui {
	-fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #1ec6cf, #0349a8);
}

#main-anchorpane-starting-gui {
	-fx-background-color: #ffffff;
}

#label-products-in-fridge {
	-fx-font-color: #000000;
	-fx-font-weight: bold;
	-fx-font-size: 14px;
}

#products-in-fridge {
	-fx-cell-size: 40px;
}

#label-expired-products-in-fridge {
	-fx-font-color: #000000;
	-fx-font-weight: bold;
	-fx-font-size: 14px;
}

#expired-products-in-fridge {
	-fx-cell-size: 40px;
}

#label-budget {
	-fx-font-color: #000000;
	-fx-font-weight: bold;
	-fx-font-size: 14px;
}

#top-anchorpane-add-edit-product-gui {
	-fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #1ec6cf, #0349a8);
}

#main-anchorpane-add-edit-product-gui {
	-fx-background-color: #ffffff;
}

#top-anchorpane-add-edit-budget-gui {
	-fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #1ec6cf, #0349a8);
}

#main-anchorpane-add-edit-budget-gui {
	-fx-background-color: #ffffff;
}

.budget-information-headings {
	-fx-font-color: #000000;
	-fx-font-weight: bold;
}

#label-products-during-budget {
	-fx-font-color: #000000;
	-fx-font-weight: bold;
	-fx-font-size: 14px;
}

#label-budget-information {
	-fx-font-color: #000000;
	-fx-font-weight: bold;
	-fx-font-size: 14px;
}

#label-status-of-products {
	-fx-font-color: #000000;
	-fx-font-weight: bold;
	-fx-font-size: 14px;
}
